<footer class="site__footer">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="site-footer__widget footer-contacts">
                            <!-- <h5 class="footer-contacts__title">Hoàng Gia Computer</h5> -->
                            <img height="104" src="/images/hoanggia.jpg" />
                            <!-- <div class="footer-contacts__text">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Integer in feugiat lorem. Pellentque ac placerat tellus.</div> -->
                            <ul class="footer-contacts__contacts">
                                <li><i class="footer-contacts__icon fas fa-globe-americas"></i> Ninh Kiều , Chúc Sơn ,
                                    Chương Mỹ , Hà Nội</li>
                                <li><i class="footer-contacts__icon far fa-envelope"></i> hongquan1091998hq@gmail.com
                                </li>
                                <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> 0393452945,
                                    (800) 060-0730</li>
                                <li><i class="footer-contacts__icon far fa-clock"></i> 07:00AM - 22:00PM
                                </li>
                            </ul>
                        </div>
                    </div>
      

                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">Liên Hệ</h5>
                            <div class="footer-newsletter__text">ĐĂNG KÝ EMAIL HOẶC SỐ ĐIỆN THOẠI ĐỂ ĐƯỢC TƯ VẤN MIỄN
                                PHÍ</div>
                            <form action="#" class="footer-newsletter__form"><label class="sr-only"
                                    for="footer-newsletter-address">Email Hoặc Số Điện Thoại</label> <input type="text"
                                    class="footer-newsletter__form-input form-control" id="footer-newsletter-address"
                                    placeholder="Email Address..."> <button
                                    class="footer-newsletter__form-button btn btn-primary">Subscribe</button>
                            </form>
                            <div class="footer-newsletter__text footer-newsletter__text--social">Follow us on
                                social networks</div>
                            <ul class="footer-newsletter__social-links">
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-twitter"></i></a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-youtube"></i></a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-instagram"></i></a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--rss">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fas fa-rss"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-4">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.91837798360132!2d105.70642117355331!3d20.924625394405805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31344dd99a9c6acd%3A0xd20bc0473a5e9a1b!2zQ1RZIFROSEggVElOIEjhu4xDIFbDgCBDw5RORyBOR0jhu4YgSE_DgE5HIEdJQQ!5e0!3m2!1svi!2s!4v1662695275201!5m2!1svi!2s"
                            style="border:0;width: 100%;height: 100%;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>