<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Trang Chủ</a> <svg class="breadcrumb-arrow" width="6px"
                                height="9px">
                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg></li>
                        <li class="breadcrumb-item"><a href="#">Chi Tiết Sản Phẩm</a> <svg class="breadcrumb-arrow"
                                width="6px" height="9px">
                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg></li>
                        <li class="breadcrumb-item active" aria-current="page" id="productNameLink">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="product product--layout--standard" data-layout="standard">
                <div class="product__content">
                    <div class="product__gallery">
                        <div class="product-gallery">
                            <div class="product-gallery__featured">
                                <div class="owl-carousel" id="product-image">


                                </div>
                            </div>
                            <div class="product-gallery__carousel">
                                <div class="owl-carousel" id="product-carousel">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__info">
                        <div class="product__wishlist-compare"><button type="button"
                                class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right"
                                title="Wishlist"><svg width="16px" height="16px">
                                    <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                </svg></button> <button type="button" class="btn btn-sm btn-light btn-svg-icon"
                                data-toggle="tooltip" data-placement="right" title="Compare"><svg width="16px"
                                    height="16px">
                                    <use xlink:href="/images/sprite.svg#compare-16"></use>
                                </svg></button></div>
                        <h1 class="product__name" id="name-product"></h1>
                        <div class="product__rating">
                            <div class="product__rating-stars">
                                <div class="rating">
                                    <div class="rating__body"><svg class="rating__star rating__star--active"
                                            width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__rating-legend"><a href="#" id="text-reviews"></a></div>
                        </div>
                        <div style="font-size: 14px;
                        font-weight: 500;
                        padding: 0;">
                            Thông số sản phẩm

                        </div>

                        <div class="product__description" id="information2"></div>

                        <!-- <ul class="product__features">
                            <li>Speed: 750 RPM</li>
                            <li>Power Source: Cordless-Electric</li>
                            <li>Battery Cell Type: Lithium</li>
                            <li>Voltage: 20 Volts</li>
                            <li>Battery Capacity: 2 Ah</li>
                        </ul> -->

                        <ul class="product__meta">
                            <li class="product__meta-availability">Trạng Thái: <span class="text-success">Còn
                                    Hàng</span></li>

                        </ul>
                    </div>
                    <div class="product__sidebar">
                        <div class="product__availability">Trạng Thái: <span class="text-success">Còn Hàng</span></div>
                        <div class="product__prices" id="product-pricing"
                            style="text-decoration-line:line-through;height: 20px;color: #666;font-size: 15px;text-decoration: line-through;overflow: hidden;">
                            $1,499.00</div>
                        <div class="product__prices" id="product-discount"
                            style="font-size: 20px;font-weight: 600;color: #000;"> </div>
                        <form class="product__options">

                            <div class="form-group product__option"><label class="product__option-label"
                                    for="product-quantity">Số Lượng</label>
                                <div class="product__actions">
                                    <div class="product__actions-item">
                                        <div class="input-number product__quantity"><input id="product-quantity"
                                                class="input-number__input form-control form-control-lg" type="number"
                                                min="1" value="1">
                                            <div class="input-number__add"></div>
                                            <div class="input-number__sub"></div>
                                        </div>
                                    </div>
                                    <div class="product__actions-item product__actions-item--addtocart">
                                        <a href="/cart" class="btn btn-primary btn-lg">Đặt mua ngay</a>
                                    </div>


                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="product-tabs">
                <div class="product-tabs__list"><a href="#tab-description"
                        class="product-tabs__item product-tabs__item--active">Mô Tả</a> <a href="#tab-specification"
                        class="product-tabs__item">Thông Số Kỹ Thuật</a></div>
                <div class="product-tabs__content">
                    <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                        <div class="typography" id="product-description">

                        </div>
                    </div>
                    <div class="product-tabs__pane" id="tab-specification">
                        <div class="spec" id="product-information">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-products-carousel" data-layout="grid-5">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Sản Phẩm Liên Quan</h3>
                <div class="block-header__divider"></div>
                <div class="block-header__arrows-list"><button class="block-header__arrow block-header__arrow--left"
                        type="button"><svg width="7px" height="11px">
                            <use xlink:href="/images/sprite.svg#arrow-rounded-left-7x11"></use>
                        </svg></button> <button class="block-header__arrow block-header__arrow--right"
                        type="button"><svg width="7px" height="11px">
                            <use xlink:href="/images/sprite.svg#arrow-rounded-right-7x11"></use>
                        </svg></button></div>
            </div>
            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel" id="box-product-detail">

                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    // $(document).ready(function () {
    //     getProductDetail()

    // })
    getProductDetail()

    function getProductDetail() {
        let selectProduct = getDataURL('product') || ''
        $.ajax({
            type: 'GET',
            url: '/get-product-detail',
            data: { id: selectProduct },
            success: function (data) {
                let product = data[0]
                let pricing
                let categoryName = product.categoryName
                $('#name-product').html(product.productName)
                $('#productNameLink').html(product.productName)
                $('#information2').html(product.information2)
                $('#product-pricing').html('Giá : ' + formatPrice(product.price))
                $('#product-discount').html('Giá KM : ' + formatPrice(product.discount))
                $('#text-reviews').html(Math.floor(Math.random() * 100) + ' Reviews')
                $('#product-description').html(product.describe)
                $('#product-information').html(product.information)

                let arrImg = product.image
                $('#product-image').empty()
                $('#product-carousel').empty()

                for (let i = 0; i < arrImg.length; i++) {
                    $('#product-image').append(`<a href="/images/product/${arrImg[i]}" target="_blank"><img style="width:100%;" src="/images/product/${arrImg[i]}" alt=""> </a>`)
                    $('#product-carousel').append(`<a href="#" class="product-gallery__carousel-item"><img style="width:100%;    height: 75px;" class="product-gallery__carousel-image" src="/images/product/${arrImg[i]}" alt=""> </a>`)
                }
                getProductRelate(categoryName)
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function getProductRelate(categoryName) {
        $.ajax({
            type: 'GET',
            url: '/get-product-relate',
            data: { categoryName: categoryName },
            success: function (data) {
                $('#box-product-detail').empty()
                for (let i = 0; i < data.length; i++) {
                    let product = data[i]
                    if (Number(product.price) === 0) {
                        textPrice = "Liên Hệ"
                        textPriceDiscount = "Liên Hệ"
                    } else {
                        textPrice = formatPrice(product.price)
                        textPriceDiscount = formatPrice(product.discount)
                    }
                    $('#box-product-detail').append(`
                    <div class="block-products-carousel__column">
                        <div class="block-products-carousel__cell">
                            <div class="product-card"><button class="product-card__quickview" type="button"><svg
                                        width="16px" height="16px">
                                        <use xlink:href="/images/sprite.svg#quickview-16"></use>
                                    </svg> <span class="fake-svg-icon"></span></button>
                               
                                <div class="product-card__image"><a href="#"><img
                                            src="/images/product/${product.image[0]}" alt=""></a></div>
                                <div class="product-card__info">
                                    <div class="product-card__name"><a href="#">${product.productName}</a></div>
                                    <div class="product-card__rating">
                                        <div class="rating">
                                            <div class="rating__body"><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__rating-legend">${Math.floor(Math.random() * 100)} Reviews</div>
                                    </div>
                                    <ul class="product-card__features-list">
                                        ${formatTagul(product.information2)}
                                    </ul>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__availability">Trạng Thái: <span class="text-success">Còn hàng</span></div>

                                    <div class="product-card__prices" style="text-decoration-line:line-through;height: 20px;color: #666;font-size: 15px;text-decoration: line-through;overflow: hidden;">Giá : ${textPrice}</div>
            <div class="product-card__prices" style="font-size: 20px;font-weight: 600;color: #000;">Giá KM : ${textPriceDiscount}</div>
                                    <div class="product-card__buttons"><button
                                            class="btn btn-primary product-card__addtocart" type="button">Add To
                                            Cart</button> <a href="/cart" 
                                            class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                            type="button">Đặt mua ngay</a> <button
                                            class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                            type="button"><svg width="16px" height="16px">
                                                <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                            </svg> <span
                                                class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                                        <button
                                            class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare"
                                            type="button"><svg width="16px" height="16px">
                                                <use xlink:href="/images/sprite.svg#compare-16"></use>
                                            </svg> <span
                                                class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `)


                }
            
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function getDataURL(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }
    function formatTagul(string) {
        string = string.replace("<ul>", '').replace("</ul>", '')
        return string
    }
    function formatPrice(value) {
        value = value.toLocaleString('vi', { style: 'currency', currency: 'VND' });
        return value
    }

</script>
<!-- <link rel="stylesheet" href="/vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css"> -->

<!-- <link rel="stylesheet" href="/css/style.css">
<script src="/vendor/jquery-3.3.1/jquery.min.js"></script>
<script src="/vendor/bootstrap-4.2.1//js/bootstrap.bundle.min.js"></script>
<script src="/vendor/owl-carousel-2.3.4/owl.carousel.min.js"></script> -->