<div class="site">
    <div class="site__body">
        <div class="block-slideshow block-slideshow--layout--full block">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block-slideshow__body">
                            <div class="owl-carousel">
                                <a class="block-slideshow__slide" href="#">
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                        style="background-image: url('images/banners/banner1.png')"></div>
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                        style="background-image: url('images/banners/banner1.png')"></div>
                                    <div class="block-slideshow__slide-content"></div>
                                </a><a class="block-slideshow__slide" href="#">
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                        style="background-image: url('images/banners/banner2.jpg')"></div>
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                        style="background-image: url('images/banners/banner2.jpg')"></div>
                                    <div class="block-slideshow__slide-content"></div>
                                </a><a class="block-slideshow__slide" href="#">
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                        style="background-image: url('images/banners/banner3.png')"></div>
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                        style="background-image: url('images/banners/banner3.png')"></div>
                                    <div class="block-slideshow__slide-content"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block-features block-features--layout--boxed">
            <div class="container">
                <div class="block-features__list">
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-free-delivery-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">Miễn Phí Giao Hàng</div>
                            <div class="block-features__subtitle">Đối với đơn hàng trên 3.000.000vnđ</div>
                        </div>
                    </div>
                    <div class="block-features__divider"></div>
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-24-hours-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">Hỗ Trợ 24/7</div>
                            <div class="block-features__subtitle">Gọi cho chúng tối bất cứ lúc nào</div>
                        </div>
                    </div>
                    <div class="block-features__divider"></div>
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-payment-security-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">An Toàn 100%</div>
                            <div class="block-features__subtitle">Khi đặt hàng</div>
                        </div>
                    </div>
                    <div class="block-features__divider"></div>
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-tag-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">Ưu Đãi</div>
                            <div class="block-features__subtitle">Giảm giá lên đến 70%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="box-list-product-by-category">





        </div>
        <!-- <div class="block block-posts block-posts--layout--grid-nl" data-layout="grid-nl">
            <div class="container">
                <div class="block-header">
                    <h3 class="block-header__title">Latest News</h3>
                    <div class="block-header__divider"></div>
                    <div class="block-header__arrows-list">
                        <button class="block-header__arrow block-header__arrow--left" type="button">
                            <svg width="7px" height="11px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                            </svg>
                        </button>
                        <button class="block-header__arrow block-header__arrow--right" type="button">
                            <svg width="7px" height="11px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="block-posts__slider">
                    <div class="owl-carousel">
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-1.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">Special Offers</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">Philosophy That Addresses Topics Such As Goodness</a>
                                </div>
                                <div class="post-card__date">October 19, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-2.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">Latest News</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">Logic Is The Study Of Reasoning And Argument Part 2</a>
                                </div>
                                <div class="post-card__date">September 5, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-3.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">New Arrivals</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">Some Philosophers Specialize In One Or More Historical
                                        Periods</a>
                                </div>
                                <div class="post-card__date">August 12, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-4.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">Special Offers</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">A Variety Of Other Academic And Non-Academic Approaches
                                        Have Been Explored</a>
                                </div>
                                <div class="post-card__date">Jule 30, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-5.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">New Arrivals</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">Germany Was The First Country To Professionalize
                                        Philosophy</a>
                                </div>
                                <div class="post-card__date">June 12, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-6.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">Special Offers</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">Logic Is The Study Of Reasoning And Argument Part 1</a>
                                </div>
                                <div class="post-card__date">May 21, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-7.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">Special Offers</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">Many Inquiries Outside Of Academia Are Philosophical In The
                                        Broad Sense</a>
                                </div>
                                <div class="post-card__date">April 3, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-8.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">Latest News</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">An Advantage Of Digital Circuits When Compared To Analog
                                        Circuits</a>
                                </div>
                                <div class="post-card__date">Mart 29, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-9.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">New Arrivals</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">A Digital Circuit Is Typically Constructed From Small
                                        Electronic Circuits</a>
                                </div>
                                <div class="post-card__date">February 10, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-card">
                            <div class="post-card__image">
                                <a href="#"><img src="images/posts/post-10.jpg" alt="" /></a>
                            </div>
                            <div class="post-card__info">
                                <div class="post-card__category">
                                    <a href="#">Special Offers</a>
                                </div>
                                <div class="post-card__name">
                                    <a href="#">Engineers Use Many Methods To Minimize Logic Functions</a>
                                </div>
                                <div class="post-card__date">January 1, 2019</div>
                                <div class="post-card__content">
                                    In one general sense, philosophy is associated with wisdom,
                                    intellectual culture and a search for knowledge. In that
                                    sense, all cultures...
                                </div>
                                <div class="post-card__read-more">
                                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="block block-brands">
            <div class="container">
                <div class="block-brands__slider">
                    <div class="owl-carousel">
                        <div class="block-brands__item">
                            <a href="#"><img src="images/logos/logo-1.png" alt="" /></a>
                        </div>
                        <div class="block-brands__item">
                            <a href="#"><img src="images/logos/logo-2.png" alt="" /></a>
                        </div>
                        <div class="block-brands__item">
                            <a href="#"><img src="images/logos/logo-3.png" alt="" /></a>
                        </div>
                        <div class="block-brands__item">
                            <a href="#"><img src="images/logos/logo-4.png" alt="" /></a>
                        </div>
                        <div class="block-brands__item">
                            <a href="#"><img src="images/logos/logo-5.png" alt="" /></a>
                        </div>
                        <div class="block-brands__item">
                            <a href="#"><img src="images/logos/logo-6.png" alt="" /></a>
                        </div>
                        <div class="block-brands__item">
                            <a href="#"><img src="images/logos/logo-7.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // $(document).ready(function () {
    // })
    getAllProductByCategory();
    function getAllProductByCategory() {
        let countProduct = 0;
        $.ajax({
            type: "GET",
            url: "/category/get-all-product-by-category",
            data: {},
            success: function (data) {
                $("#box-list-product-by-category").empty();
                for (let i = 0; i < data.length; i++) {
                    let arrProducts = data[i].product;
                    $("#box-list-product-by-category").append(`
                    <div class="block block-products-carousel" data-layout="grid-5">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">${data[i]._id}</h3>
                <div class="block-header__divider"></div>
                <ul class="block-header__groups-list">
                    <li><a href="/category/?category=${data[i]._id}"><button type="button"  class="block-header__group">Xem tất cả</button></a></li>
                </ul>
                <div class="block-header__arrows-list"><button
                    class="block-header__arrow block-header__arrow--left" type="button"><svg width="7px"
                        height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg></button> <button class="block-header__arrow block-header__arrow--right"
                        type="button"><svg width="7px" height="11px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                        </svg></button></div>
            </div>
            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel" id="item-category-${i}"> 
              
                </div>
            </div>
        </div>
    </div>

`);
                    if (i === 1) {
                        $("#box-list-product-by-category").append(`
                    <div class="block block-banner">
            <div class="container">
                <a href="#" class="block-banner__body">
                    <div class="block-banner__image block-banner__image--desktop"
                        style="background-image: url('images/banners/banner-1.jpg')"></div>
                    <div class="block-banner__image block-banner__image--mobile"
                        style="background-image: url('images/banners/banner-1-mobile.jpg')"></div>
                </a>
            </div>
        </div>
                    `)
                    }

                    if (i === 3) {
                        $("#box-list-product-by-category").append(`
                    <div class="block block-banner">
            <div class="container">
                <a href="#" class="block-banner__body">
                    <div class="block-banner__image block-banner__image--desktop"
                        style="background-image: url('images/banners/banner-2.jpg')"></div>
                    <div class="block-banner__image block-banner__image--mobile"
                        style="background-image: url('images/banners/banner-1-mobile.jpg')"></div>
                </a>
            </div>
        </div>
                    `)
                    }
                    for (let j = 0; j < arrProducts.length; j++) {
                        $("#item-category-" + i).append(`
                            <div class="block-products-carousel__column">
                                <div class="block-products-carousel__cell">
        <div class="product-card">
            <div class="product-card__badges-list">
            </div>
            <div class="product-card__image"><a href="/detail-product/?product=${arrProducts[j]._id}"><img src="/images/product/${arrProducts[j].image[0]}" alt=""></a>
            </div>
            <div class="product-card__info">
                <div class="product-card__name" title="${arrProducts[j].productName}" style="height: 54px;font-size: 15px;line-height: 19px;-ms-flex-positive: 1;flex-grow: 1;overflow: hidden;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 4;-webkit-box-orient: vertical;"><a href="/detail-product/?product=${arrProducts[j]._id}">${arrProducts[j].productName}</a></div>
                <div class="product-card__rating">
                    <div class="rating">
                        <div class="rating__body"><svg class="rating__star rating__star--active" width="13px"
                                height="12px">
                                <g class="rating__fill">
                                    <use xlink:href="images/sprite.svg#star-normal"></use>
                                </g>
                                <g class="rating__stroke">
                                    <use xlink:href="images/sprite.svg#star-normal-stroke">
                                    </use>
                                </g>
                            </svg>
                            <div class="rating__star rating__star--only-edge rating__star--active">
                                <div class="rating__fill">
                                    <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                    <div class="fake-svg-icon"></div>
                                </div>
                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                <g class="rating__fill">
                                    <use xlink:href="images/sprite.svg#star-normal"></use>
                                </g>
                                <g class="rating__stroke">
                                    <use xlink:href="images/sprite.svg#star-normal-stroke">
                                    </use>
                                </g>
                            </svg>
                            <div class="rating__star rating__star--only-edge rating__star--active">
                                <div class="rating__fill">
                                    <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                    <div class="fake-svg-icon"></div>
                                </div>
                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                <g class="rating__fill">
                                    <use xlink:href="images/sprite.svg#star-normal"></use>
                                </g>
                                <g class="rating__stroke">
                                    <use xlink:href="images/sprite.svg#star-normal-stroke">
                                    </use>
                                </g>
                            </svg>
                            <div class="rating__star rating__star--only-edge rating__star--active">
                                <div class="rating__fill">
                                    <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                    <div class="fake-svg-icon"></div>
                                </div>
                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                <g class="rating__fill">
                                    <use xlink:href="images/sprite.svg#star-normal"></use>
                                </g>
                                <g class="rating__stroke">
                                    <use xlink:href="images/sprite.svg#star-normal-stroke">
                                    </use>
                                </g>
                            </svg>
                            <div class="rating__star rating__star--only-edge rating__star--active">
                                <div class="rating__fill">
                                    <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                    <div class="fake-svg-icon"></div>
                                </div>
                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                <g class="rating__fill">
                                    <use xlink:href="images/sprite.svg#star-normal"></use>
                                </g>
                                <g class="rating__stroke">
                                    <use xlink:href="images/sprite.svg#star-normal-stroke">
                                    </use>
                                </g>
                            </svg>
                            <div class="rating__star rating__star--only-edge rating__star--active">
                                <div class="rating__fill">
                                    <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                    <div class="fake-svg-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-card__rating-legend">${Math.floor(Math.random() * 100)} Reviews</div>
                </div>
                <ul class="product-card__features-list">
                    <li>Speed: 750 RPM</li>
                    <li>Power Source: Cordless-Electric</li>
                    <li>Battery Cell Type: Lithium</li>
                    <li>Voltage: 20 Volts</li>
                    <li>Battery Capacity: 2 Ah</li>
                </ul>
            </div>
            <div class="product-card__actions">
                <div class="product-card__availability">Availability: <span class="text-success">In Stock</span></div>
                <div class="product-card__prices" style="text-decoration-line:line-through;height: 20px;color: #666;font-size: 15px;text-decoration: line-through;overflow: hidden;">Giá:  ${formatPrice(arrProducts[j].price)}</div>
                <div class="product-card__prices">Giá KM: <span style="font-size: 22px;font-weight: 600;color: #000;">${formatPrice(arrProducts[j].discount)}<span></div>
                <div class="product-card__buttons"><button class="btn btn-primary product-card__addtocart"
                        type="button">Add To
                        Cart</button> <button
                        class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                        type="button">Đặt mua ngay</button> 
                </div>
            </div>
        </div>
    </div>
                            </div>
                            `);
                    }
                }
            },
            error: function (err) {
                console.log(err);
            },
        });
    }
    function formatPrice(value) {
        value = value.toLocaleString('vi', { style: 'currency', currency: 'VND' });
        return value
    }
</script>