<h2>Danh Sách Sản Phẩm</h2>

<div class="container-fluid">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Quản Lý <b> Sản Phẩm</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" onclick="showModalAddProduct()" class="btn btn-success"
							data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm Sản Phẩm</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover table-product">
				<thead>
					<tr>

						<th>Ảnh</th>
						<th>Tên Sản Phẩm</th>
						<th>Danh Mục</th>
						<th>Giá</th>
						<th>Giảm Giá</th>
						<th>Ngày Thêm Sản Phẩm</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>


						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div id="addEmployeeModal" style="margin-top: 50px" class="modal fade">
	<div class="modal-dialog modal-xl" style="max-width:1250px;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Thêm Sản Phẩm</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<form action="/admin/product/add-product" enctype="multipart/form-data" method="POST">

				<div class="modal-body">
					<div class="form-group">
						<label>Tên Sản Phẩm</label>
						<input id="add-name-product" name="productName" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Tên Danh Mục</label>
						<select id="add-category-product" name="categoryName"></select>
					</div>

					<div class="form-group">
						<label>Giá</label>
						<input id="add-price-product" name="price" type="number" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Giảm Giá</label>
						<input id="add-discount-product" name="discount" type="number" class="form-control" required>
					</div>

					

					<div class="form-group">
						<label>Thông Số Sản Phẩm</label>
						<textarea name="information2" id="editor-information2"></textarea>
					</div>


					<div class="form-group">
						<label>Thông Số Kỹ Thuật</label>
						<textarea name="information" id="editor-information"></textarea>
					</div>

					<div class="form-group">
						<label>Mô Tả</label>
						<textarea name="describe" id="editor"></textarea>
					</div>

					<div hidden class="form-group">
						<label>Mô Tả</label>
						<textarea id="add-date-product" name="dateCreate" class="form-control" required></textarea>
					</div>

					<div class="form-group">
						<label>Ảnh</label>
						<input id="add-image-product" name="multi-files" type='file' accept='image/*' multiple>
						<div class="box-add-image">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Upload">
				</div>
			</form>


		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" style="margin-top: 50px" class="modal fade">
	<div class="modal-dialog modal-xl" style="max-width:1250px;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Chỉnh Sửa Sản Phẩm</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<form action="/admin/product/edit-product" method="POST">
				<div class="modal-body">
					<input hidden type="text" name="productId" id="edit-id-product" class="form-control" required>
					<div class="form-group">
						<label>Tên Sản Phẩm</label>
						<input id="edit-name-product" name="productName" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Tên Danh Mục</label>
						<input id="edit-category-product" name="categoryName" type="text" class="form-control" readonly>
					</div>

					<div class="form-group">
						<label>Giá</label>
						<input id="edit-price-product" name="price" type="number" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Giảm Giá</label>
						<input id="edit-discount-product" name="discount" type="number" class="form-control" required>
					</div>

					<div class="form-group">
						<label>Thông Số sản Phẩm</label>
						<textarea name="information2" id="edit-editor-information2"></textarea>
					</div>

					<div class="form-group">
						<label>Thông Số Kỹ Thuật</label>
						<textarea name="information" id="edit-editor-information"></textarea>
					</div>

					<div class="form-group">
						<label>Mô Tả</label>
						<textarea name="describe" id="edit-editor"></textarea>
					</div>

					<div class="form-group">
						<label>Ngày Thêm Sản Phẩm</label>
						<textarea id="edit-date-product" name="dateCreate" class="form-control" required></textarea>
					</div>

					<div class="form-group">
						<label>Ảnh</label>
						<!-- <input id="edit-image-product" name="multi-files" type='file' accept='image/*' multiple> -->
						<div id="edit-box-image" class="box-add-image"></div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<!-- <input type="submit" onclick="editProduct()" class="btn btn-info" value="Save"> -->
					<input type="submit" class="btn btn-success" value="Save Edit">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteProductModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Xóa Sản Phâm</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Anh Có Chắc Chắn Muốn Xóa Sản Phẩm Này Không</p>
				</div>

				<div>
					<input hidden id="id-delect-product" type="text">
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" onclick="deleteCategory()" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	let valueDescription
	let valueEditInformation
	let valueEditdescription
	let valueEditInformation2

	ClassicEditor
		.create(document.querySelector('#editor'))
		.then(editor => {
		})
		.catch(error => {
			console.error(error);
		});

	ClassicEditor
		.create(document.querySelector('#editor-information'))
		.then(editor => {
		})
		.catch(error => {
			console.error(error);
		});

		ClassicEditor
		.create(document.querySelector('#editor-information2'))
		.then(editor => {
		})
		.catch(error => {
			console.error(error);
		});

	ClassicEditor
		.create(document.querySelector('#edit-editor'))
		.then(editor => {
			valueEditdescription = editor
		})
		.catch(error => {
			console.error(error);
		});

	ClassicEditor
		.create(document.querySelector('#edit-editor-information'))
		.then(editor => {
			valueEditInformation = editor
		})
		.catch(error => {
			console.error(error);
		});

		ClassicEditor
		.create(document.querySelector('#edit-editor-information2'))
		.then(editor => {
			valueEditInformation2 = editor
		})
		.catch(error => {
			console.error(error);
		});


	let arrCategory = []
	getAllCategory()
	getAllCProduct()
	function getAllCategory() {
		$.ajax({
			type: 'GET',
			url: '/admin/category/get-all-category',
			data: {},
			success: function (data) {
				arrCategory = data
			},
			error: function (err) {
				console.log(err);
			}
		});
	}
	function getAllCProduct() {
		$.ajax({
			type: 'GET',
			url: '/admin/product/get-all-product',
			data: {},
			success: function (data) {
				$('.table-product tbody').empty()
				for (let i = 0; i < data.length; i++) {
					$('.table-product tbody').append(`
					<tr>
						<td><img src="/images/product/${data[i].image[0]}" style="width:80px;height:80px"></td>
						<td>${data[i].productName}</td>
						<td>${data[i].categoryName}</td>
						<td>${data[i].price}</td>
						<td>${data[i].discount}</td>
						<td>${data[i].dateCreate}</td>
						<td>
							<a href="#editEmployeeModal" onclick="showModalEdit('${data[i]._id}')" data-toggle="modal" class="edit"><i class="material-icons"
                                   title="Edit">&#xE254;</i></a>
							<a href="#deleteProductModal" onclick="showModelDelete('${data[i]._id}')" class="delete" data-toggle="modal"><i class="material-icons"
									data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
                `)
				}
			},
			error: function (err) {
				console.log(err);
			}
		});
	}
	// <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
	// 								data-toggle="tooltip" title="Edit">&#xE254;</i></a>

	function showModelDelete(id) {
		$('#id-delect-product').val(id)
	}
	function deleteCategory() {
		let id = $('#id-delect-product').val()
		$.ajax({
			type: 'GET',
			url: '/admin/product/remove-product',
			data: { id: id },
			success: function (data) {
				getAllCategory()
			},
			complete: function (data) {

			},
			error: function (err) {
				console.log(err);
			}
		});
	}


	function showModalAddProduct() {
		$('#add-category-product').empty()
		for (let i = 0; i < arrCategory.length; i++) {
			$('#add-category-product').append($('<option>', {
				value: arrCategory[i].categoryName,
				text: arrCategory[i].categoryName
			}));
		}
		let dateCreate = new Date().toLocaleDateString();
		$('#add-date-product').val(dateCreate)
		document.getElementById("add-image-product").value = "";
		$('.box-add-image').empty()
	}


	function showModalEdit(id) {
		$.ajax({
			type: 'GET',
			url: '/admin/get-product-detail',
			data: { id: id },
			success: function (data) {
				console.log(data);
				$('#edit-id-product').val(data._id)
				$('#edit-name-product').val(data.productName)
				$('#edit-category-product').val(data.categoryName)
				$('#edit-price-product').val(data.price)
				$('#edit-discount-product').val(data.discount)
				$('#edit-date-product').val(data.dateCreate)
				$('#edit-box-image').empty()
				for (let i = 0; i < data.image.length; i++) {
					$('#edit-box-image').append(`<img src="/images/product/${data.image[i]}" height="150">`)
				}
				valueEditInformation.setData(data.information);
				valueEditInformation2.setData(data.information2);
				valueEditdescription.setData(data.describe);

			},
			error: function (err) {
				console.log(err);
			}
		});

	}

	function readFile() {

		if (this.files) {
			arrUploadImage = []
			for (let i = 0; i < this.files.length; i++) {

				var FR = new FileReader();

				FR.addEventListener("load", function (e) {
					$('.box-add-image').append(`<img src="${e.target.result}" height="150">`)
				});
				FR.readAsDataURL(this.files[i]);
			}
		}
	}
	document.getElementById("add-image-product").addEventListener("change", readFile);



</script>